<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">  
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./script.js"> </script>
<link rel="stylesheet" href="./style.css">
</head>
<body>
  
<style>
 div {text-align: center;}
</style>
<h1>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</h1> 
<img src="./static/SPSE-Jecna_Logotyp.png" alt="Jecna">

<div><a href="./registrace.html">Registrační formulář</a></div>

</body>
</html>