
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #04AA6D;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #04AA6D;
}
</style>
<h2>Seznam studentů</h2>
<table>
        <tr>
            <th>Nick</th>
            <th>Jmeno</th>
            <th>Prijmeni</th>
            <th>Trida</th>
            <th>Tridni</th>
            <th>Kánoe kamarád</th>
        </tr>

        {% for ucastnik in studenti %}
            <tr>
                <th>{{ucastnik['nick']}}</th>
                <th>{{ucastnik['jmeno']}}</th>
                <th>{{ucastnik['prijmeni']}}</th>
                <th>{{ucastnik['trida']}}</th>
                <th>{{ucastnik['tridni']}}</th>
                <th>{{ucastnik['kanoe_kamarad']}}</th>
            </tr>
        {% endfor %}
    </table>

<script>
      console.log(studenti)
</script>

<p>Zpět na <a href="./registrace.html">registrační formulář</a></p>

